@functions {
	string BuildMenuLink(MenuItem item)
	{
		if (string.IsNullOrWhiteSpace(item.Url) == false)
		{
			return item.Url;
		}
		else
		{
			return "javascript:;";
		}
	}
}
@helper DisplayMenu(IList<MenuItem> menuList, int level, bool selected)
{
	if (menuList != null && menuList.Count > 0)
	{
		<ul class="nav-@level-level@(selected ? " in" : string.Empty)">
			@foreach (MenuItem menu in menuList)
			{
				var subList = menu.Children.FindAll(x => x.Show);
				bool isCurrent = Menu.IsCurrentMenu(menu, true);
				if (Menu.HasPermission(menu) == false)
				{
					continue;
				}
				<li @(isCurrent ? Html.Raw(" class=\"active\"") : MvcHtmlString.Empty)>
					<a href="@BuildMenuLink(menu)" @(isCurrent ? Html.Raw(" class=\"selected\"") : MvcHtmlString.Empty)>
						
						<i class="fa fa-fw @menu.Icon"></i>
						<span class="menu-title"> @(menu.Title)</span>

						@if (subList != null && subList.Count > 0)
						{
							<span class="arrow-right"><i class="fa fa-angle-right"></i></span>
						}
						@if (level == 1 && isCurrent)
						{
							<i class="selected-arrow"></i>
						}
					</a>
					@DisplayMenu(subList, level + 1, isCurrent)
				</li>
			}
		</ul>
	}
}
<div id="site-menu" role="navigation">
	@DisplayMenu(Menu.GetMenus(), 1, false)
	<a class="sidebar-toggle" href="javascript:void(0);">
		<i class="fa fa-fw fa-plus"></i>
		<span class="menu-title">收起菜单</span>
	</a>
</div>