@{
	this.PageTitle = "查看系统角色";

	StaffRole role = null;
	Guid? id = Utility.ParseQueryStringVal<Guid?>("id");
	if (id.HasValue)
	{
		role = Api<IStaffRoleApi>.Instance.Get(id.Value);
	}
	if (role == null)
	{
        throw new ApplicationException("Id为" + id + "的StaffRole数据不存在");
	}
    var userIdList = Api<IStaffRoleApi>.Instance.GetUsers(role.Id);
    var permissionKeyList = Api<IStaffRoleApi>.Instance.GetPermissionKeys(role.Id);
}

@section PageButtons {
	<a class="btn btn-sm btn-primary" href="@LinkUrl("StaffUser/RoleEdit", new { id = role.Id })"><i class="fa fa-pencil"></i> 编辑</a>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/RoleQuery")"><i class="fa fa-sign-out"></i> 返回列表</a>
}

<div id="p-StaffUser-detailrole">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label">角色名</label>
			<div class="col-sm-5 checkbox">@role.Name</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">角色描述</label>
			<div class="col-sm-5">
				<textarea class="form-control ipt-roleDesc" rows="3" style="resize:vertical;" readonly>@role.Description</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">角色关联的用户</label>
			<div class="col-sm-5 checkbox">
				@if (userIdList != null && userIdList.Count > 0)
				{
                    var users = Api<IStaffUserApi>.Instance.Get(userIdList);
                    foreach (StaffUser user in users)
					{
						if (user.Status != DataStatus.Enabled)
						{
							continue;
						}
						<a href="@LinkUrl("StaffUser/UserDetail", new { id = user.Id })" target="_blank" style="margin-right:15px;">
							<i class="fa fa-user"></i>
							<span>@user.DisplayName</span>
						</a>
					}
				}
				else
				{
					<span>还没有关联用户</span>
				}
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">角色关联的权限</label>
			<div class="col-sm-5 checkbox">
				@if (permissionKeyList == null || permissionKeyList.Count <= 0)
				{
					<span>还没有关联权限</span>
				}
			</div>
		</div>
	</div>

	@Html.Partial("/Views/StaffUser/Partial/PermissionListViewMode.cshtml", new { Selected = permissionKeyList })
</div>