@{
    this.PageTitle = "查看系统用户";

    StaffUser staffUser = null;
    Guid? id = Utility.ParseQueryStringVal<Guid?>("id");
    if (id.HasValue)
    {
        Fly.Framework.Common.Cache.RemoveFromLocalCache("u_" + id.Value);
        staffUser = Api<IStaffUserApi>.Instance.Get(id.Value);
    }
    if (staffUser == null)
    {
        throw new BizException("未找到系统用户！");
    }

    IList<StaffRole> roles = Api<IStaffRoleApi>.Instance.Get(Api<IStaffUserApi>.Instance.GetRoles(staffUser.Id));
    IList<PermissionKey> allPermissions = Api<IStaffPermissionKeyApi>.Instance.GetAllPermissionKeys();
    List<PermissionKey> allSubPermissions = allPermissions.SelectMany(x => x.PermissionKeys).ToList();
    IList<StaffUserTempPermission> tempPermissions = Api<IStaffUserApi>.Instance.GetTempPermissionSettings(staffUser.Id);
    IList<string> userPermissions = Api<IStaffRoleApi>.Instance.GetPermissionKeys(roles.Select(x => x.Id));
}

@section PageButtons {
	<a class="btn btn-sm btn-primary" href="@LinkUrl("StaffUser/UserEdit", new { id = staffUser.Id })"><i class="fa fa-pencil"></i> 编辑</a>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/UserQuery")"><i class="fa fa-sign-out"></i> 返回列表</a>
}

<div id="p-StaffUser-detail">
	<input type="hidden" id="iptStaffUserId" value="@staffUser.Id" />
	<input type="hidden" id="Url_DoRemoveTempPermission" value="@LinkUrl("StaffUser/AjaxDoRemoveTempPermission")" />

	<table class="table table-bordered table-withlabel3">
		<tr>
			<td class="c1">登录名</td>
			<td class="c2">@staffUser.LoginId</td>
			<td class="c1">显示名</td>
			<td class="c2">@staffUser.DisplayName</td>
			<td class="c1">状态</td>
			<td class="c2">
				@if (staffUser.Status == DataStatus.Disabled)
				{
					<span class="label label-danger">已禁用</span>
				}
                else if (staffUser.Status == DataStatus.Enabled)
				{
					<span class="label label-success">启用中</span>
				}
                else
                {
                    <span class="label label-default">已删除</span>
                }
			</td>
		</tr>
        <tr>
            <td class="c1">手机号</td>
            <td class="c2">@staffUser.Mobile</td>
            <td class="c1">电子邮箱</td>
            <td class="c2">@staffUser.Email</td>
        </tr>
		<tr>
			<td class="c1">关联的角色</td>
			<td class="c2" colspan="5">
				@if (roles != null && roles.Count > 0)
				{
					foreach (var role in roles)
					{
						<a href="@LinkUrl("StaffUser/RoleDetail", new { id = role.Id })" target="_blank" style="display:inline-block; margin-right:15px;">
							<i class="fa fa-address-card-o"></i>
							<span>@role.Name</span>
						</a>
					}
				}
			</td>
		</tr>
		<tr>
			<td class="c1">临时权限</td>
			<td class="c2" colspan="5">
				@if (tempPermissions != null && tempPermissions.Count > 0)
				{
					<table class="table table-bordered table-condensed temp-permission-table">
						<tr>
							<th>临时权限名</th>
							<th>是否有效</th>
							<th>有效期</th>
							<th>操作</th>
						</tr>
						@foreach (var temp in tempPermissions)
						{
							PermissionKey per = allSubPermissions.FirstOrDefault(x => string.Equals(x.Value, temp.PermissionKey, StringComparison.OrdinalIgnoreCase));
							if (per == null || temp.Valid == false)
							{
								continue;
							}
							<tr data-key="@temp.PermissionKey">
								<td><span data-value="@per.Value">@per.Text</span></td>
								<td>
									@if (temp.Valid)
									{
										<span class="label label-success">有效</span>
									}
									else
									{
										<span class="label label-danger">无效</span>
									}
								</td>
								<td>@D(temp.FromTime) 至 @D(temp.ToTime)</td>
								<td>
									<button type="button" class="btn btn-xs btn-danger btn-remove">移除该临时权限</button>
								</td>
							</tr>
						}
					</table>
				}
				<div><a class="btn btn-sm btn-primary" href="@LinkUrl("StaffUser/UserSetTempPermission", new { id = staffUser.Id })">设置临时权限</a></div>
			</td>
		</tr>
		<tr>
			<td class="c1">永久权限</td>
			<td class="c2" colspan="5">
				@Html.Partial("/Views/StaffUser/Partial/PermissionListViewMode.cshtml", new { Selected = userPermissions })
			</td>
		</tr>
	</table>
</div>