@model StaffUser
@{
	StaffUser staffUser = this.Model;

    string submitUrl = LinkUrl("StaffUser/AjaxDoCreateUser");
	Guid? staffUserId = null;
	string userName = null;
	string displayName = null;
	string mobile = null;
	string email = null;
	IList<Guid> userRoles = null;
    if (staffUser != null)
	{
		submitUrl = LinkUrl("StaffUser/AjaxDoUpdateUser");
        staffUserId = staffUser.Id;
        userName = staffUser.LoginId;
        displayName = staffUser.DisplayName;
        mobile = staffUser.Mobile;
        email = staffUser.Email;
        userRoles = Api<IStaffUserApi>.Instance.GetRoles(staffUser.Id);
	}

	IList<StaffRole> allRoles = Api<IStaffRoleApi>.Instance.GetAllRoles();
}

<input type="hidden" id="Url_Submit" value="@submitUrl" />
<input type="hidden" id="iptStaffUserId" value="@staffUserId" />

<div class="form-horizontal">
	@if (staffUser == null)
	{
		<div class="form-group">
			<label class="col-sm-3 control-label">@Html.Required() 登录名</label>
			<div class="col-sm-5">
				<input type="text" class="form-control ipt-userName" value="@userName">
			</div>
		</div>
	}
	else
	{
		<div class="form-group">
			<label class="col-sm-3 control-label">登录名</label>
			<div class="col-sm-5 checkbox">
				<span>@userName</span>
			</div>
		</div>
	}

	<div class="form-group">
		<label class="col-sm-3 control-label">
			@if (staffUser == null)
			{
				@Html.Required()
			}
			<span>显示名</span>
		</label>
		<div class="col-sm-5">
			<input type="text" class="form-control ipt-displayName" value="@displayName">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">
			@if (staffUser == null)
			{
				@Html.Required()
			}
			<span>密码</span>
		</label>
		<div class="col-sm-5">
			<input type="password" class="form-control ipt-password">
			@if (staffUser != null)
			{
				<div class="x-tip">留空表示不修改密码</div>
			}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">
			@if (staffUser == null)
			{
				@Html.Required()
			}
			<span>确认密码</span>
		</label>
		<div class="col-sm-5">
			<input type="password" class="form-control ipt-password2">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">手机号</label>
		<div class="col-sm-5">
			<input type="text" class="form-control ipt-mobile" value="@mobile">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">电子邮箱</label>
		<div class="col-sm-5">
			<input type="text" class="form-control ipt-email" value="@email">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">关联的角色</label>
		<div class="col-sm-8 checkbox">
			@if (allRoles != null && allRoles.Count > 0)
			{
				<div class="role-list">
					@foreach (StaffRole role in allRoles)
					{
						bool checked1 = userRoles != null && userRoles.Count > 0 && userRoles.Contains(role.Id);
						string checked1Str = checked1 ? "checked" : "";
						<span style="float:left;width:33.33%;">
							<label><input type="checkbox" class="chk-role" value="@role.Id" @checked1Str /> @role.Name</label>
						</span>
					}
					<span class="clearfix"></span>
				</div>
			}
		</div>
	</div>
</div>