@{
    Layout = null;
    string loginId = Fly.Framework.Common.Cookie.Get<string>("LoginId");
}
<!DOCTYPE html>
<html>
<head>
    <title>登录 - FLY | 后台管理</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="copyright" content="© 2019 - @DateTime.Now.Year FLY | 后台管理" />
    <meta name="robots" content="noindex, nofollow" />
    @Styles.Render("~/resources/css/base")
</head>
<body>
    @*<div>@(Fly.Framework.Common.Crypto.GetCrypto(CryptoType.MD5).Encrypt("wms" + "0F85DF0178CD4439935CD780849890C7"))</div>*@
    <div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" id="site-header">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="@LinkUrl("Default")">
						<img src="@R("/Resources/Images/logo.png")" />
					</a>
				</div>
			</div>
		</nav>

        <div id="page-login" class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="login-panel">
                            <div class="heading">
                                <h3 class="panel-title">FLY - 登录</h3>
                            </div>
                            <div class="body">
                                <form class="form-horizontal" id="login_form" name="login_form" role="form" action="" method="post">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="loginId">账号：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <label class="input-group-addon"><i class="fa fa-user"></i></label>
                                                @Html.TextInput("loginId", new { value = loginId })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="password">密码：</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <label class="input-group-addon"><i class="fa fa-lock"></i></label>
                                                @Html.TextInput("password", password: true)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3"></label>
                                        <div class="col-sm-8">
											<div class="checkbox">
												<label>
													<input name="remeberMe" id="remeberMe" type="checkbox" value="1" @(string.IsNullOrWhiteSpace(loginId) ? "" : " checked='checked'") />记住账号
												</label>
											</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3"></label>
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-success" id="submit_button" data-loading-text="登录验证中..."><i class="fa fa-sign-in"></i> 登录</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/resources/scripts/base")
    <!--[if lt IE 9]>
    @Scripts.Render("~/resources/scripts/ie9")
    <![endif]-->
    <script>
        $(function () {
            $("#login_form").bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    loginId: {
                        validators: {
                            notEmpty: {
                                message: login_empty_error
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: password_empty_error
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
                e.preventDefault();
                $("#submit_button").button('loading');
                var r = $("#remeberMe").is(':checked');
                $.post(login_url, { userName: $.trim($("#loginId").val()), password: $.trim($("#password").val()), remeberUserName: r }, function (result) {
                    if (result.error == false) {
                        if (result.data.succeed) {
                            window.location = return_url;
                        }
                        else {
                            IBBAlert.Error(login_error_msg);
                            $("#submit_button").button('reset');
                            $('input#password').select();
                        }
                    }
                    else {
                        $("#submit_button").button('reset');
                        $('input#password').select();
                    }
                });
            });
            $('input#loginId').focus();
        });
        var login_empty_error = "账号不能为空";
        var password_empty_error = "密码不能为空";
        var login_url = "@LinkUrl("CheckLogin")";
        var return_url = "@Html.Raw(string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ? LinkUrl("Default") : Request.QueryString["returnUrl"])";
    </script>
</body>
</html>

