<!DOCTYPE html>
<html>
<head>
    <title>@PageTitle - FLY | 后台管理系统</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="copyright" content="© 2018 - @DateTime.Now.Year FLY | 后台管理系统" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="resource-type" content="document" />

	@Styles.Render("~/resources/css/base")

	<!--[if lt IE 9]>
	@Styles.Render("~/resources/css/ie9")
	<![endif]-->
	@RenderSection("HTMLHead", false)

	@Scripts.Render("~/resources/scripts/base")
</head>
<body>
	<div id="wrapper">
		@Html.Partial("/Views/Shared/Layouts/Partial/Header.cshtml")
		<div id="page-wrapper">
			@Html.Partial("/Views/Shared/Layouts/Partial/Menu.cshtml")
			<div id="page-content" class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div id="main-breadcrumb">
							@Html.Partial("/Views/Shared/Layouts/Partial/Breadcrumb.cshtml")
							<div class="btns">
								@RenderSection("PageButtons", false)
							</div>
						</div>
						<div id="main-content">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@Html.Partial("/Views/Shared/Layouts/Partial/Footer.cshtml")

	@RenderSection("HTMLFoot", false)
</body>
</html>