@{
    this.PageTitle = "查询系统用户";

    string nameKey = "name";
    string name = Request.QueryString.Get(nameKey);

    var statusList = Utility.ParseQueryStringToEnumList<DataStatus>("statusList");
    if(statusList == null || statusList.Count <= 0)
    {
        statusList = new List<DataStatus> { DataStatus.Enabled };
    }

    string roleIdKey = "roleId";
    Guid? roleId = Utility.ParseQueryStringVal<Guid?>(roleIdKey);

    IList<PermissionKey> allPermissions = Api<IStaffPermissionKeyApi>.Instance.GetAllPermissionKeys();

    string containPermissionKey = "permission";
    string containPermission = Utility.ParseQueryStringVal<string>(containPermissionKey);
    PermissionKey selectedPermission = null;
    if (string.IsNullOrWhiteSpace(containPermission))
    {
        containPermission = "Fly_Login";
    }
    selectedPermission = allPermissions.Where(x => string.IsNullOrWhiteSpace(x.Value) == false).Union(allPermissions.SelectMany(x => x.PermissionKeys)).FirstOrDefault(x => string.Equals(x.Value, containPermission.Trim(), StringComparison.OrdinalIgnoreCase));

    int pageIndex = Html.GetCurrentPageNumber() - 1;
    int pageSize = 50;
    int total = 0;
    IList<StaffUser> list = Api<IStaffUserApi>.Instance.Query(name, statusList, roleId, containPermission, pageIndex, pageSize, out total);
    var uids = list.Select(x => x.Id);

    var userRolesDic = Api<IStaffUserApi>.Instance.GetRoles(uids);
    var allRoles = Api<IStaffRoleApi>.Instance.GetAllRoles();
}

@section PageButtons {
	<a class="btn btn-sm btn-primary" href="@LinkUrl("StaffUser/UserNew")"><i class="fa fa-plus"></i> 新增系统用户</a>
}

<div id="p-StaffUser-query">
	<input type="hidden" value="@LinkUrl("StaffUser/AjaxSetValid")" id="iptSetValidUrl" />

	<div class="query-panel collapsed">
		<div class="query-tab">
			<a class="show-form"><i class="fa fa-search-plus"></i> 搜索</a>
		</div>
		<div class="query-form">
			<form class="form-horizontal" action="@Request.Url.LocalPath" method="get">
				<div class="common-fields">
					<div class="form-group">
						<label class="col-md-3 control-label">登录名/显示名</label>
						<div class="col-md-5">
							<input type="text" class="form-control" name="@nameKey">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">账号状态</label>
						<div class="col-md-5">
							<div class="radio">
                                @(Html.EnumCheckBox<DataStatus>("statusList", selectedItems: statusList))
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">所属角色</label>
						<div class="col-md-5">
							@Html.SelectorWithEmpty(roleIdKey, allRoles, "Name", "Id", "无")
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">拥有权限</label>
						<div class="col-md-5">
							<input type="text" class="form-control ipt-perText" value="@(selectedPermission == null ? "" : selectedPermission.Text)" readonly>
							<input type="hidden" class="ipt-perValue" name="@containPermissionKey" value="@(selectedPermission == null ? "" : selectedPermission.Value)">
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary btn-select-permission">选择权限</button>
							<button type="button" class="btn btn-primary btn-clear-permission">清除权限</button>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label"></label>
					<div class="col-md-5">
						<button type="submit" class="btn btn-primary">搜索</button>
						<a href="@Request.Url.LocalPath" class="btn btn-warning">重置</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="grid-panel">
		<table class="table table-striped">
			<thead>
                <tr>
                    @*<th>编号</th>*@
                    <th>登录名</th>
                    <th>显示名</th>
                    <th style="width:70px;">状态</th>
                    <th>所属角色</th>
                    @if (selectedPermission != null)
                    {
                        <th>权限状态</th>
                    }
                    <th style="width:110px;">手机号</th>
                    <th>电子邮箱</th>
                    <th style="width:70px;">查看</th>
                </tr>
			</thead>
			<tbody>
				@foreach (StaffUser staffUser in list)
				{
                    string url = LinkUrl("StaffUser/UserDetail", new { id = staffUser.Id });

                    IList<Guid> roleIds;
                    userRolesDic.TryGetValue(staffUser.Id, out roleIds);
                    IList<StaffRole> roles = Api<IStaffRoleApi>.Instance.Get(roleIds);

                <tr>
                    @*<td><a href="@url">@staffUser.Id</a></td>*@
                    <td><a href="@url">@staffUser.LoginId</a></td>
                    <td>@staffUser.DisplayName</td>
                    <td>
                        @if (staffUser.Status == DataStatus.Enabled)
                        {
                            <span class="label label-success">已启用</span>
                        }
                        else if (staffUser.Status == DataStatus.Disabled)
                        {
                            <span class="label label-danger">已禁用</span>
                        }
                        else // Deleted
                        {
                            <span class="label label-default">已删除</span>
                        }
                    </td>
                    <td>
                        @if (roles != null && roles.Count > 0)
                        {
                            foreach (var role in roles)
                            {
                                <a href="@LinkUrl("StaffUser/RoleDetail", new { id = role.Id })" target="_blank" style="display:inline-block; margin-right:10px;">
                                    <i class="fa fa-address-card-o"></i>
                                    <span>@role.Name</span>
                                </a>
                            }
                        }
                    </td>
                    @if (selectedPermission != null)
                    {
                        IList<string> perlist1 = Api<IStaffRoleApi>.Instance.GetPermissionKeys(roleIds);
                        <td>
                            @if (perlist1 != null && perlist1.Count > 0 && perlist1.Contains(selectedPermission.Value))
                            {
                                <div style="margin-bottom:10px;"><label class="label label-success">永久权限</label></div>
                            }
                            else
                            {
                                StaffUserTempPermission per2 = Api<IStaffUserApi>.Instance.GetTempPermissionSettings(staffUser.Id).FirstOrDefault(x => x.PermissionKey == selectedPermission.Value);
                                if (per2 != null)
                                {
                                    <div>
                                        <label class="label label-info">临时权限</label>
                                        @if (per2.Valid)
                                        {
                                            <label class="label label-info">有效</label>
                                        }
                                        else
                                        {
                                            <label class="label label-danger">无效</label>
                                        }
                                    </div>
                                }
                            }
                        </td>
                    }
                    <td>@staffUser.Mobile</td>
                    <td>@staffUser.Email</td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="@url"><i class="fa fa-eye"></i> 查看</a>
                    </td>
                </tr>
				}
			</tbody>
		</table>
        @Html.Pagination(total, pageSize)
	</div>
</div>