@{
    this.PageTitle = "设置临时权限";

    StaffUser staffUser = null;
    Guid? id = Utility.ParseQueryStringVal<Guid?>("id");
    if (id.HasValue)
    {
        staffUser = Api<IStaffUserApi>.Instance.Get(id.Value);
    }
    if (staffUser == null)
    {
        throw new ApplicationException("Id为" + id + "的StaffUser不存在！");
    }

    // 永久权限
    IList<string> longPermissionList = Api<IStaffRoleApi>.Instance.GetPermissionKeys(Api<IStaffUserApi>.Instance.GetRoles(staffUser.Id));
    // 临时权限
    IList<StaffUserTempPermission> tempPermissionList = Api<IStaffUserApi>.Instance.GetTempPermissionSettings(staffUser.Id);
}

@section PageButtons {
	<button class="btn btn-sm btn-primary" id="btnSave" data-loading-text="保存中..."><i class="fa fa-save"></i> 保存</button>
	<a class="btn btn-sm btn-default" href="@LinkUrl("StaffUser/UserDetail", new { id = staffUser.Id })"><i class="fa fa-reply"></i> 返回</a>
}

<div id="p-StaffUser-SetTempPermission">
	<input type="hidden" id="iptStaffUserId" value="@staffUser.Id" />
	<input type="hidden" id="Url_Submit" value="@LinkUrl("StaffUser/AjaxDoSetTempPermission")" />

	<span class="json-long-permission" style="display:none;">@longPermissionList.ToJsonString2()</span>
	<span class="json-temp-permission" style="display:none;">@tempPermissionList.Select(x => new { PermissionKey = x.PermissionKey, Valid = x.Valid }).ToJsonString2()</span>

	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label">登录名</label>
			<div class="col-sm-5 checkbox">
				<span>@staffUser.LoginId</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">显示名</label>
			<div class="col-sm-5 checkbox">
				<span>@staffUser.DisplayName</span>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<table class="table table-bordered temp-permission-table">
			<thead>
				<tr>
					<th style="width:auto;">@Html.Required() 权限点</th>
					<th style="width:460px;">@Html.Required() 有效期</th>
					@*<th style="width:110px;">
						<div>最大使用次数</div>
						<div class="text-muted" style="font-weight:normal;font-size:12px;">不填表示不限制</div>
					</th>*@
					<th style="width:60px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="item-tpl" style="display:none;">
					<td class="col-perkey">
						<div class="per-list"></div>
						<button type="button" class="btn btn-xs btn-primary btn-addperkey">添加权限点</button>
					</td>
					<td class="col-fromto">
						<div style="margin-bottom:10px;">
							<label class="radio-inline"><input type="radio" name="radio1" class="radio-setType" value="FastSet" checked /> 快速设置</label>
							<label class="radio-inline"><input type="radio" name="radio1" class="radio-setType" value="ManualSet" /> 手动选择</label>
						</div>
						<div class="vrow vrow1 fast-set-wrap">
							<span class="txt">从现在开始的</span>
							<input type="text" class="form-control input-sm positive-zeroint ipt-day" />
							<span class="txt">天</span>

							<input type="text" class="form-control input-sm positive-zeroint ipt-hour" />
							<span class="txt">时</span>

							<input type="text" class="form-control input-sm positive-zeroint ipt-minute" />
							<span class="txt">分</span>
							<span class="txt">内有效</span>

							<span class="clearfix"></span>
						</div>
						<div class="vrow vrow2 manual-set-wrap" style="display:none;">
							@Html.DateTimePicker("ipt-from", size: "sm")
							<span class="txt">至</span>
							@Html.DateTimePicker("ipt-to", size: "sm")
							<span class="txt">内有效</span>
							<span class="clearfix"></span>
						</div>
					</td>
					@*<td>
						<input type="text" class="form-control input-sm positive-int ipt-maxtimes" />
					</td>*@
					<td>
						<button type="button" class="btn btn-xs btn-danger btn-remove">删除</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-sm btn-primary" id="btnAddRow">新增一行</button>
	</div>
</div>