@model System.Web.Mvc.HandleErrorInfo
@{
    var isMobile = this.Request.Url.ToString().IndexOf("mobile") > 0;
    Layout = isMobile ? "~/Views/Shared/Layouts/_LayoutMobile.cshtml" : Layout;
}
@if (Model != null && Model.Exception.HelpLink == typeof(BizException).FullName)
{
    this.PageTitle = "业务警告";
    <div style="padding-top:40px; width:100%; text-align:center; font-size: 18px;">
        @Html.Raw(Model.Exception.Message)
    </div>
}
else
{
    this.PageTitle = "内部服务器错误";
    <div>
        内部服务器错误！Error!
    </div>
    if (Model != null)
    {
        <div>@Model.Exception.HelpLink</div>
        <div><b>Controller</b> : @Model.ControllerName</div>
        <div><b>Action</b> : @Model.ActionName</div>
        <div><b>Error Details</b> :</div>
        <div>@Html.Raw(Model.Exception.Message)</div>
    }
}
@if (isMobile)
{
    @section HTMLFoot{
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-block btn-primary mt10" href="@this.Request.UrlReferrer.ToString()"><i class="fa fa-reply"></i> 返回</a>
            </div>
        </div>
    }
}