@model StaffRole
@{
	StaffRole role = this.Model;

	string submitUrl = LinkUrl("StaffUser/AjaxDoCreateRole");
	Guid? roleId = null;
	string roleName = null;
	string roleDesc = null;
	IList<string> rolePermissions = new List<string>();
	IList<StaffUser> roleUsers = new List<StaffUser>();
	if (role != null)
	{
		submitUrl = LinkUrl("StaffUser/AjaxDoUpdateRole");
		roleId = role.Id;
		roleName = role.Name;
		roleDesc = role.Description;
        rolePermissions = Api<IStaffRoleApi>.Instance.GetPermissionKeys(role.Id);
        roleUsers = Api<IStaffUserApi>.Instance.Get(Api<IStaffRoleApi>.Instance.GetUsers(role.Id));
	}

	StaffRole copyFrom = null;
	Guid? copyFromId = Utility.ParseQueryStringVal<Guid?>("copyfrom");
	if (copyFromId.HasValue)
	{
        copyFrom = Api<IStaffRoleApi>.Instance.Get(copyFromId.Value);
	}
	if (copyFrom != null)
	{
        rolePermissions = Api<IStaffRoleApi>.Instance.GetPermissionKeys(copyFrom.Id);
        roleUsers = Api<IStaffUserApi>.Instance.Get(Api<IStaffRoleApi>.Instance.GetUsers(copyFrom.Id));
	}

    IList<StaffUser> allUsers = Api<IStaffUserApi>.Instance.GetAllUsers();
    IList<StaffRole> allRoles = Api<IStaffRoleApi>.Instance.GetAllRoles();
	if (role != null)
	{
		allRoles = allRoles.Where(x => x.Id != role.Id).ToList();
	}
}

<input type="hidden" id="Url_Submit" value="@submitUrl" />
<input type="hidden" id="iptRoleId" value="@roleId" />

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">@Html.Required() 角色名</label>
		<div class="col-sm-5">
			<input type="text" class="form-control ipt-roleName" value="@roleName">
			<div class="x-tip">角色名需唯一</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">@Html.Required() 角色描述</label>
		<div class="col-sm-5">
			<textarea class="form-control ipt-roleDesc" rows="3" style="resize:vertical;">@roleDesc</textarea>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary btn-copy-permission">导入其他角色</button>
		</div>
	</div>
</div>

@if (copyFrom != null)
{
	<div>以下用户及权限，由角色 <b class="text-warning">@(copyFrom.Name)</b> 导入，需保存后才可生效</div>
}

<div class="group-header">角色关联的用户</div>
<div style="margin-bottom:5px;">
	<b>用户关键字过滤</b>
	<span class="text-muted">（仅是页面的显示/隐藏效果，方便定位用户）</span>
</div>
<div style="margin-bottom:10px;">
	<input type="text" class="form-control ipt-userkeyword" style="width:400px;">
</div>
<div class="role-user-list">
	@foreach (StaffUser user in allUsers)
	{
		string checked1 = roleUsers.Select(x => x.Id).Contains(user.Id) ? "checked" : "";
		<div class="checkbox">
			<label><input type="checkbox" class="chk-user" value="@user.Id" data-name="@user.DisplayName" @checked1 /> @user.DisplayName</label>
		</div>
	}
	<div class="clearfix"></div>
</div>

<div class="group-header">角色关联的权限</div>
<div style="margin-bottom:5px;">
	<b>权限关键字过滤</b>
	<span class="text-muted">（仅是页面的显示/隐藏效果，方便定位权限）</span>
</div>
<div style="margin-bottom:10px;">
	<input type="text" class="form-control ipt-perkeyword" style="width:400px;">
</div>

@Html.Partial("/Views/StaffUser/Partial/PermissionList.cshtml", new { Selected = rolePermissions })

<div class="modal-html-holder">
	<div class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><i class="fa fa-user-plus"></i> 导入其他角色</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">选择系统角色</label>
							<div class="col-sm-7">
								@Html.SelectorWithEmpty("slt-role", allRoles, "Name", "Id", "请选择系统角色")
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary btn-confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>