@{
    IList<string> photos = this.Model;
	string fileStorageKey = ViewData["FileStorageKey"] as string;
	
	int imageWidth = 828;
	int imageHeight = 1472;
	int thumbnailwidth = 100;
	int thumbnailHeight = 100;

		<div class="my-simple-gallery" itemscope itemtype="http://schema.org/ImageGallery">
			@foreach (var p in photos)
			{
				if (string.IsNullOrWhiteSpace(fileStorageKey))
				{ 
				<figure itemscope itemtype="http://schema.org/ImageObject">
                    <a href="@(Api<IPhotoApi>.Instance.GetThumbnailUrl("ec",p, imageWidth, imageHeight))" itemprop="contentUrl" data-size="@(imageWidth)x@(imageHeight)">
                        <img src="@(Api<IPhotoApi>.Instance.GetThumbnailUrl("ec", p, thumbnailwidth, thumbnailHeight))" itemprop="thumbnail" alt="爱宝贝360" />
					</a>
				</figure>
				}
				else
				{
					<figure itemscope itemtype="http://schema.org/ImageObject">
						<a href="@(Api<IPhotoApi>.Instance.GetThumbnailUrl(fileStorageKey,p, imageWidth, imageHeight))" itemprop="contentUrl" data-size="@(imageWidth)x@(imageHeight)">
							<img src="@(Api<IPhotoApi>.Instance.GetThumbnailUrl(fileStorageKey,p, thumbnailwidth, thumbnailHeight))" itemprop="thumbnail" alt="爱宝贝360" />
						</a>
					</figure>
				}
			}
		</div>
		<div class="clearfix"></div>
}